@import "../node_modules/bootstrap/scss/bootstrap";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.card {
    min-width: 250px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;

    .img-cover {
        height: 100%;
        object-fit: cover;

    }

    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: white
    }

    .language-img {
        width: 30px;
    }

    .titolo {
        margin-bottom: 1rem;
        color: red
    }
}